<!DOCTYPE html>
<html>
<head>
  <title>FavoriteThings</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- semantic -->
  <link rel="stylesheet" type="text/css" href="/semantic/semantic.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/icon.css">
  <script src="/js/application.js"></script>
  <script src="/semantic/semantic.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
